{
  "plugins": [
    [
      "transform-decorators-legacy",
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "transform-export-extensions",
    "transform-es2015-modules-commonjs"
  ],
  "env": {
    "development": {
      "plugins":[
        "transform-export-extensions"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "electron": "1.8.1"
            },
            "useBuiltIns": true,
            "include": [
              "syntax-trailing-function-commas"
            ],
            "exclude": [
              "transform-async-to-generator",
              "web.timers",
              "web.immediate"
            ]
          }
        ]
      ]
    }
  }
}