{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-decorators-legacy",
    ["transform-runtime", {
      "helpers": true, // defaults to true
      "polyfill": false, // defaults to true
      "regenerator": false, // defaults to true
      "moduleName": "babel-runtime" // defaults to "babel-runtime"
    }]
  ]
}