# Wintel binary
*.exe

# Mac binary
*.app

#ignore build remnants
build/*
!build/icons*
!build/version.txt
!build/Info.plist
bundledApps/waybackConfigWriter.pyc
bundledApps/openjdk
WAIL.spec

# Mac meta
.DS_Store

node_modules/

newbinaries

src/public
src/public/*

.idea


build

electron/build/dist

release
zips

*.map

electron-main.js*

backUp
dist

