# Wintel binary
*.exe

# Mac binary
*.app

#ignore build remnants
build/*
!build/icons*
!build/version.txt
!build/Info.plist
bundledApps/waybackConfigWriter.pyc
bundledApps/openjdk
WAIL.spec
*.db
# Mac meta
.DS_Store

*.pid
*.keystore

waillogs
memgators
node_modules/

newbinaries

src/public
src/public/*

.idea

creds.json

build

#bundledApps/heritrix-3.2.0/
bundledApps/heritrix-3.3.0/

wayback.xml
heritrix.pid
heritrix_out.log
electron/build/dist

npm-debug.*

release
zips


*.map

electron-main.js*

backUp
dist

wail-config

testBuild