# Wintel binary
*.exe

# Mac binary
*.app

#ignore build remnants
build/*
!build/icons*
!build/version.txt
!build/Info.plist
bundledApps/waybackConfigWriter.pyc
WAIL.spec

# Mac meta
.DS_Store

node_modules/
node_modules/*
src/public

.idea
.idea/*

build
build/*
electron/build/dist

release

*.map

electron-main.js*

backUp
dist

