biplist==1.0.1
dmgbuild==1.1.0
ds-store==1.0.1
mac-alias==1.1.0
pyobjc-core==3.0.4
pyobjc-framework-Cocoa==3.0.4
pyobjc-framework-Quartz==3.0.4
pystache==0.5.4
requests==2.9.1
schedule==0.3.2
six==1.10.0
wheel==0.26.0
wxPython==3.0.2.0
