body{font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;}

h1,h2,h3 {margin: 0; padding: 0;}
h3 {clear: both;}
div#head {text-align: center;}
img#logo {width: 100px;}

.flexy {display: flex; margin: 0 0 3.0em 0; vertical-align: bottom;}
.flexy figure {margin: 0; flex-grow: 1; flex-shrink: 1; max-width: 100%; display: inline-block;}
.flexy figure figcaption {position: sticky; top: 600px; vertical-align: bottom;}
figure img {max-width: 100%;}

div#vid {text-align: center; margin: auto; clear: both;}

.center {text-align: center;}