body {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    text-align: center;
    padding-bottom: 50em;
}

h1,h2,h3 {
    margin: 0;
    padding: 0;
}
h3 {
    clear: both;
    font-size: 2.0em;
}
div#head {
    text-align: center;
}
img#logo {
    width: 30%;
    margin-bottom: 1.0em;
}
ul, li {
    text-align: left;
}

a#fork img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.flexy {
    display: flex;
    margin: 0 0 3.0em 0;
    vertical-align: bottom;
}
.flexy figure {
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    display: inline-block;
}
.flexy figure figcaption {
    position: relative;
    bottom: 0px;
}

.flexy figure img {
    max-width: 100%;
}

div#vid {
    text-align: center;
    margin: auto;
    clear: both;
    margin-bottom: 2.0em;
}

.center {
    text-align: center;
}

@media only screen and (max-device-width: 480px) {
 h3 {text-align: left; font-size: 1.0em;}
 p {text-align: left; margin-top: 0.5em;}
 ul {margin-top: 0.5em;}
 .flexy {margin: 0 0 1.0em 0;}
}