<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css"
          href="../../../node_modules/material-design-icons-iconfont/dist/material-design-icons.css"/>
    <link rel="stylesheet" type="text/css" href="../../../node_modules/roboto-fontface/css/roboto/roboto-fontface.css"/>
    <style>
        html {
            font-family: 'Roboto', sans-serif;
            -webkit-font-smoothing: antialiased;
        }
    </style>
</head>
<body style="margin: 0; font-family: Roboto, sans-serif;">
<div id="explorer">

</div>
</body>
<script src="http://localhost:9000/dist/explore.bundle.js">
</script>
</html>