@charset "UTF-8";
/* wail */

.layOutGrid {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    height: 95vh;
    width: 99%;
}

.layoutRow {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}

.layOutGridFH {
    height: 100%;
    margin: 0;
    padding: 0 8px;
}

.loadingLayoutGrid {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 8px;
}

.layoutLayoutGrid {
    margin: 0;
    padding: 0;
}

.basicTabLayout {
    min-height: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
}

.warcUpload {
    height: 150px;
    border-width: 2px;
    border-color: #666;
    border-style: dashed;
    border-radius: 5px;
}

.waybackGrid {
    min-width: 100%;
    min-height: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}

.wbCollectionOverviewRow {
    min-height: 200px;
}

.stepRefresh {
    display: block;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#breathing-spider {
    border: 1px solid #d1d1d1;
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    font-size: 24px;
    background: #5885cb;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 3px;
    text-align: center;
}


@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.json-inspector,
.json-inspector__selection {
    font: 14px/1.4 Consolas, monospace;
}

.json-inspector__leaf {
    padding-left: 10px;
}

.json-inspector__line {
    display: block;
    position: relative;

    cursor: default;
}

.json-inspector__line:after {
    content: '';

    position: absolute;
    top: 0;
    left: -200px;
    right: -50px;
    bottom: 0;
    z-index: -1;

    pointer-events: none;
}

.json-inspector__line:hover:after {
    background: rgba(0, 0, 0, 0.06);
}

.json-inspector__leaf_composite > .json-inspector__line {
    cursor: pointer;
}

.json-inspector__radio,
.json-inspector__flatpath {
    display: none;
}

.json-inspector__value {
    margin-left: 5px;
}

.json-inspector__search {
    min-width: 300px;
    margin: 0 10px 10px 0;
    padding: 2px;
}

.json-inspector__key {
    color: #505050;
}

.json-inspector__value_helper,
.json-inspector__value_null,
.json-inspector__not-found {
    color: #b0b0b0;
}

.json-inspector__value_string {
    color: #798953;
}

.json-inspector__value_boolean {
    color: #75b5aa;
}

.json-inspector__value_number {
    color: #d28445;
}

.json-inspector__hl {
    background: #ff0;
    box-shadow: 0 -1px 0 2px #ff0;
    border-radius: 2px;
}

.json-inspector__show-original {
    display: inline-block;
    padding: 0 6px;

    color: #666;
    cursor: pointer;
}

.json-inspector__show-original:hover {
    color: #111;
}

.json-inspector__show-original:before {
    content: '⥂';
}

.json-inspector__show-original:hover:after {
    content: ' expand'
}