@charset "UTF-8";
/* wail */

.layOutGrid {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    height: 95vh;
    width: 99%;
}

.layoutRow {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}

.layOutGridFH {
    height: 100%;
    margin: 0;
    padding: 0 8px;
}

.loadingLayoutGrid {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 8px;
}

.layoutLayoutGrid {
    margin: 0;
    padding: 0;
}

.basicTabLayout {
    width: 100%;
    margin: 0;
    padding: 0;
}

.warcUpload {
    height: 150px;
    border-width: 2px;
    border-color: #666;
    border-style: dashed;
    border-radius: 5px;
}

.waybackGrid {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
}

.stepRefresh {
    display: block;
}
