.headline {
    font-size: 24px;
    padding-top: 16px;
    margin-bottom: 12px;
    font-weight: 400;
}

.slide {
    padding: 10px;
}

.collectionTab {
    color: #CFD8DC;
}

/*
    React-Split-Pane Resizer styles
*/
.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    width: 100%;
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
}



Resizer.disabled {
    cursor: not-allowed;
}
Resizer.disabled:hover {
    border-color: transparent;
}

