on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, macos-11, macos-12]
        include:
          - os: macos-latest
          - os: macos-11
          - os: macos-12
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.ref }}
    - name: Build
      run: sh ./bundledApps/MAKEFILE.sh -q
    - name: Install screenshot utility
      run: pip3 install screenshot
    - name: Run
      working-directory: /Applications
      run: |
        pwd
        ls
        sleep 10
        open -a /Applications/WAIL.app
        sleep 10
        ps -A | grep WAIL
    - name: Iterate tabs, taking screenshot
      env:
        KEYCODES: 29 18 19 20 21
      run: |
        for k in $KEYCODES; do
          osascript tests/changeTabs.scpt $k
          screenshot WAIL --filename wail-${{matrix.os}}-$k.png --shadow
        done
    - name: Upload screenshot
      uses: actions/upload-artifact@v2
      with:
        name: wail-screenshot-${{matrix.os}}
        path: wail-${{matrix.os}}*.png
    - name: Download artifact
      uses: actions/download-artifact@v4.1.7
      with:
        name: wail-screenshot-${{matrix.os}}
